# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# SQLite databases
*.db

# Flask-specific
instance/
*.log

# VSCode settings
.vscode/

# MacOS-specific
.DS_Store

# Windows-specific
Thumbs.db
